html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
    color: white;
}

ul {
    margin: 0px;
}

body > header { 
    background-color: rgb(26, 141, 164);
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav {
    position: relative;
    z-index: 10;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body>header>nav>ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}


#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 80%;
    height: auto;
    color: black;
    text-decoration: none;
}

#event-pics img {
    border-radius: 0%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

form{
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: rgb(26, 141, 164);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    border-radius: 50%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div >li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: white;
}