html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 10vh;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
    color: white;
}

ul {
    margin: 0px;
}

body > header { 
    background-color: rgb(26, 141, 164);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav {
    position: relative;
    z-index: 10;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 18px;
}

body>header>nav>ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

main >div > aside {
    background-color: rgb(49, 197, 242);
}

.asidebutton {
    color: black !important;
    text-decoration: none !important;
    padding: 5px;
    border: 0.5px transparent;
    border-radius: 10%;
}

#main-content > div {
    width: 80%;
    height: auto;
    margin-left: 0%;
}

#event-pics img {
    border-radius: 0%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#allvenues img {
    border-radius: 0%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
    object-fit: cover;
    align-items: center;
}

#allvenues {
    display: flex;
    flex-direction: column;
}

#Newvenue img {
    border-radius: 0%;
    max-width: fit-content;
}

#allvenueimg {
    display: flex;
    flex-direction: row;
}

form{
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: rgb(26, 141, 164);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div >li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: white;
}